header {
    background-color: var(--beige);
    padding: 2rem 1rem;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.navigation {
    max-width: 90%;
    margin: auto;
}

/*LOGO*/

.navigation__logo-container {
    margin: 1rem auto;
    height: 4rem;
    width: 50%;
}

.navigation__logo-container__logo {
    object-fit: contain;
    width: 100%;
    height: 100%;
    
}

/* HAMBURGER MENU & NAVIGATION */

.burger-menu{
    position: absolute;
    top: 4rem;
    left: 1.5rem;
}

.burger-menu span{
    display: block;

    height: 0.2rem;
    width: 2.5rem;

    background-color: var(--black);

    margin-bottom: 0.5rem;
}

.navigation-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;

    background-color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10% 0;
    
    transition: all 550ms ease-in-out;

    z-index: 10;
}

.open{
    left: 0;
    right: 50%;
}

.navigation-menu ul a{
    text-decoration: none;
}

.navigation-menu ul a:hover{
    color: yellow;
}

.navigation-menu ul a li{
    margin-top: 30%;
    font-size: 2.5rem;
}

#navigation-menu__closing-button {
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    top: 3.5rem;
    right: 2rem;
}

.line{
    display: block;

    position: absolute;
    top: 1rem;
    right: 0;

    height: 0.2rem;
    width: 2.5rem;

    background-color: var(--black);

}

.line-2{
    transform: rotate(45deg);
}

.line-1{
    transform: rotate(-45deg);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    /* bottom: 0;
    right: 0; */

    background-color: var(--black);

    z-index: 1;

    opacity: 0.9;

    transition: 350ms ease-in-out;
}

.overlay-active{
    bottom: 0;
    right: 0;
}

/*HERO IMAGE SECTION*/

.hero_image-section {
    background-color: var(--white);
}

.hero-image-container{
    position: relative;
    width: 95%;
    margin: 0 auto;
    padding: 2rem 0;
}

.hero-image-container h1{

    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    left: 2rem;

    color: var(--white);

    padding-right: 60vw;

    font-size: 3vw;
    line-height: 4.5vw;

    opacity: 0;

    animation: slideIn 900ms ease-in-out 700ms forwards;
    
}

@keyframes slideIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/*INTRODUCTION SECTION*/

.introduction{
    background-color: var(--secondary);
}

.introduction__image-container {

    position: relative;
    width: 95%;
    margin: 0 auto;
    padding: 2rem 0;
    overflow-y: hidden;
    
}

.introduction__image-container p {
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    /* padding-inline: 10rem; */
    padding-inline: 25vw;

    color: var(--white);
    text-align: center;
    font-size: 2.5vw;
    line-height: 4vw;

    animation: slideIn 900ms ease-in-out 700ms forwards;

}

/* FEATURED PRODUCTS SECTION */

